# Gradle files
.gradle/
build/

# Local configuration file (sdk user, etc)
local.properties

# Secrets and Keys
*.jks
keystore.properties

# Log files
*.log
build_log.txt
widget_logs.txt

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build artifacts
*.apk
*.ap_
*.aab

# OS specific
.DS_Store
Thumbs.db

# Private Docs
Pdoc/
