# Gradle files
.gradle/
build/
app/build/
.cxx/

# Local configuration file (sdk user, etc)
local.properties

# Secrets and Keys
*.jks
*.keystore
keystore.properties

# Log files
*.log
build_log.txt
widget_logs.txt

# IntelliJ / Android Studio / VS Code
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build artifacts
*.apk
*.ap_
*.aab

# OS specific
.DS_Store
Thumbs.db

# Private Docs / Project Specific
pdocs/
docs/superpowers
.superpowers
refactor_xml.py

# CLI Context
GEMINI.md
.geminiignore
.antigravityignore
.gemini/
.cline/